.navbar {
  background-color: aquamarine;
  height: 120px;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: steelblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
}
