@import "header" ;
@import "foot";


body {
  font-family: Helvetica;
  background-color: paleturquoise;
  color: darkslategray;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  input {
    margin: 5px;
  }
}
